div {
    width: 250px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(197, 188, 188);
}

h1 {
    margin-top: 0px;
    text-align: center;
    background-color: gray;
    color: white;
}

#text {
    text-align: justify;
}

#email {
    text-align: center;
    background-color: rgb(197, 188, 188);
    margin-bottom: 0px;
}